*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}
.main {
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 95%);
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}
.main .box {
    display: flex;
    flex-direction: column;
    padding: 48px;
    width: calc(920px / 3);
}
.main .box:first-child{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}
.main .box:nth-child(2){
    background-color: hsl(184, 100%, 22%);
}
.main .box:last-child{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}
@media (max-width:668px) {
    .main .box:first-child{
        border-radius: 10px 10px 0 0 ;
    }
    .main .box:last-child{
        border-radius: 0 0  10px 10px;
    }
}
.main .box h1 {
    font-family: 'Big Shoulders Display', cursive ;
    margin: 8px 0 30px;
    font-size: 40px;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}
.main .box img {
    width: 65px;
    margin-bottom: 20px;
}
.main .box p {
    margin-bottom: 68px;
    line-height: 1.6;
    color:  hsla(0, 0%, 100%, 0.75);
}
.main .box button {
    width: 145px;
    height: 50px;
    border-radius: 25px;
    margin-top: 20px;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
    text-transform: capitalize;
}
.main .box:nth-child(1) button{
    color:hsl(31, 77%, 52%); 
}
.main .box:nth-child(2) button{
    color:hsl(184, 100%, 22%);
}
.main .box:nth-child(3) button{
    color:hsl(179, 100%, 13%);
}
.main .box:nth-child(1) button:hover{
    background-color:hsl(31, 77%, 52%); 
    color:hsl(0, 0%, 95%); 
    border: 2px solid hsl(0, 0%, 95%);
}
.main .box:nth-child(2) button:hover{
    background-color:hsl(184, 100%, 22%);
    color:hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}
.main .box:nth-child(3) button:hover{
    background-color:hsl(179, 100%, 13%);
    color:hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}